__pycache__/client.cpython-39.pyc
__pycache__/receive.cpython-39.pyc
__pycache__/roteamento.cpython-39.pyc
__pycache__/teste.cpython-39.pyc
saida
__pycache__/teste.cpython-310.pyc
__pycache__/roteamento.cpython-310.pyc
__pycache__/receive.cpython-310.pyc
__pycache__/client.cpython-310.pyc
